<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>修改</title>
	<link rel="stylesheet" href="pintereso/assets/css/app.css">
	<link rel="stylesheet" href="pintereso/assets/css/theme.css">
	<link rel="stylesheet" href="pintereso/assets/css/font-awesome.min.css">
	<script src="js/jquery-3.6.1.min.js"></script>
	<script src="js/sweetalert2@11.js"></script>
    <script>
		function initToHomeHref(){
			var token = sessionStorage.getItem("token")
			if(token!=undefined){
				var newHref = "/home?token=" + token;
				$("#toHomeHref").attr("href", newHref);
			}
		}


		$(document).ready(function(){

			initToHomeHref()

			var token = sessionStorage.getItem("token")
			var newHref = "/modify?token=" + token;
			$("#uploadHref").attr("href", newHref);



			$('#uploadArea').click(function() {
				$('#imageUpload').click();
			});
		
			$('#imageUpload').change(function() {
				var filename = $(this).val().split('\\').pop();
				$('#uploadArea').html('<i class="fas fa-check-circle fa-3x text-success"></i><p class="text-success">' + filename + '</p>');
			});

			$('#submitUploadBtn').click(function(){
				//var image=$('#imageUpload')[0].files[0];
				var imageId=$('#imageId').val();
				var imageName=$('#imageName').val();
				var imageDescription=$('#imageDescription').val();
				var imageCategory=$('#imageCategory').val();
				var imageType=$('#imageType').val();
				var accessType=$('#accessType').val();
				//console.log(imageName,imageDescription,imageCategory,imageType,accessType,image)

				// 创建FormData对象，用于包装数据
				var formData = new FormData();
				//formData.append('image', image); // 添加图片文件
				formData.append('imageId', imageId); // 添加图片名称
				formData.append('imageName', imageName); // 添加图片名称
				formData.append('imageDescription', imageDescription); // 添加图片描述
				formData.append('imageCategory', imageCategory); // 添加图片类别
				formData.append('imageType', imageType); // 添加图片类型
				formData.append('accessType', accessType); // 添加图片访问类型
				formData.append('token',token);
				var uploadingAlert = Swal.fire({
					title: '正在修改',
					text: '请等待...',
					icon: 'info',
					showConfirmButton: false,
					allowOutsideClick: false,
					allowEscapeKey: false,
					allowEnterKey: false
				});
				// 发起Ajax请求
				$.ajax({
					url: '/service/modify',
					type: 'POST',
					data: formData,
					contentType: false,
					processData: false,
					success: function(response) {
						// 修改成功后关闭修改中提示框，并弹出成功提示框
						uploadingAlert.close();
						Swal.fire({
							title: '修改成功!',
							text: response.message,
							icon: 'success',
							confirmButtonText: 'OK'
						}).then(function() {
							
							// 修改成功后刷新页面
							window.location.replace("/home?token="+token)

						});
					},
					error: function(xhr, status, error) {
						// 关闭修改中提示框，并弹出错误提示框
						uploadingAlert.close();
						Swal.fire({
							title: '修改失败!',
							text: '发生错误: ' + error,
							icon: 'error',
							confirmButtonText: 'OK'
						});
					}
				});
			});



			// Function to update image preview
			function updateImagePreview(imageId) {
				console.log(imageId)
				var imageType=$('#imageType').val();
				console.log(imageType)
				var imageUrl="";
				if(imageType==1){
				  	imageUrl = "/uploadfile/image_pano/" + imageId + "/thumb.jpg";
				}
				else if(imageType==2){
					imageUrl = "/uploadfile/image_normal/" + imageId + "/thumb.jpg";
				}
				else{
					imageUrl = "/uploadfile/image_normal/" + imageId + "/thumb.jpg";
				}
				$('#imagePreview').attr('src', imageUrl);
			}
		
			// Initialize image preview
			var initialImageId = $('#imageId').val();
			updateImagePreview(initialImageId);
		
			// Update image preview when imageId changes
			$('#imageId').change(function() {
				var imageId = $(this).val();
				updateImagePreview(imageId);
			});
		
	});
	function logout(){
		sessionStorage.clear();
		window.location.replace("/");
	}
	</script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
		<a class="navbar-brand font-weight-bolder mr-3" href="/"><img src="pintereso/assets/img/logo.png"></a>
		<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
			aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsDefault">
			<ul class="navbar-nav mr-auto align-items-center">
				<form class="bd-search hidden-sm-down">
					<input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="search-input"
						placeholder="搜索..." autocomplete="off">
					<div class="dropdown-menu bd-search-results" id="search-results">
					</div>
				</form>
			</ul>
			<ul class="navbar-nav ml-auto align-items-center">
				<li class="nav-item">
					<a class="nav-link" href="/">首页</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" id="toHomeHref" href="home">个人中心</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active">修改图片</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" onClick="logout()"><img class="rounded-circle mr-2" src="pintereso/assets/img/av.png"
							width="30"><span class="align-middle">退出</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21"
							height="21" aria-hidden="false" data-reactid="71">
							<path
								d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z"
								data-reactid="22"></path>
						</svg>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
						<h4 class="dropdown-header display-4">访问站群<br /> 首页</h4>
						<div class="dropdown-divider">
						</div>
						<span class="dropdown-item"><a href="http://192.168.0.123:8234" class="btn btn-primary d-block"><i
									class="fa fa-download"></i> 跳转</a></span>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<main role="main">


		<section class="mt-4 mb-5">
			<div class="container mb-4">
			</div>
			<div class="container-fluid">
				<div class="container mt-5">
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<h2 class="text-center mb-4">修改</h2>
							<div class="text-center mb-3">
								<img id="imagePreview" src="" class="img-thumbnail" style="max-width: 100%; max-height: 200px;">
							</div>
							<div class="form-group">
								<label for="imageId">图片编号</label>
								<input type="text" class="form-control" disabled id="imageId" th:value="${image.imageId}">
							</div>
							<div class="form-group">
								<label for="imageName">图片名称</label>
								<input type="text" class="form-control" id="imageName" th:value="${image.imageName}">
							</div>
							<div class="form-group">
								<label for="imageDescription">图片描述(100字)</label>
								<textarea type="text" class="form-control" id="imageDescription" rows="4" th:text="${image.description}"></textarea>
							</div>
							<div class="form-group">
								<label for="imageCatrgory">图片类别</label>
								<select class="form-control" id="imageCategory" th:value="${image.categoryId}">
									<option value="1" th:selected="${1 == image.categoryId}">自然</option>
									<option value="2" th:selected="${2 == image.categoryId}">城市</option>
									<option value="3" th:selected="${3 == image.categoryId}">建筑</option>
									<option value="4" th:selected="${4 == image.categoryId}">太空</option>
									<option value="5" th:selected="${5 == image.categoryId}">室内</option>
									<option value="6" th:selected="${6 == image.categoryId}">行业应用</option>
									<option value="0" th:selected="${0 == image.categoryId}">其他</option>
								</select>
							</div>
							<div class="form-group">
								<label for="imageType">图片种类</label>
								<select class="form-control" id="imageType" th:value="${image.typeId}" disabled>
									<option value="1" th:selected="${1 == image.typeId}">全景图</option>
									<option value="2" th:selected="${2 == image.typeId}">一般图片</option>
								</select>
							</div>
							<div class="form-group">
								<label for="accessType">访问权限</label>
								<select class="form-control" id="accessType" th:value="${image.public_}">
									<option value="1" th:selected="${1 == image.public_}">公开</option>
									<option value="0" th:selected="${0 == image.public_}">私密</option>
								</select>
							</div>
							<button type="button" id="submitUploadBtn" class="btn btn-primary btn-block">提交</button>
						</div>
					</div>
				</div>


						

			</div>
		</section>

	</main>

	<script src="pintereso/assets/js/app.js"></script>
	<script src="pintereso/assets/js/theme.js"></script>

	<footer class="footer pt-5 pb-5 text-center">

		<div class="container">

			<div class="socials-media">

				<ul class="list-unstyled">
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i
								class="fa fa-facebook"></i></a></li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a>
					</li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i
								class="fa fa-instagram"></i></a></li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i
								class="fa fa-google-plus"></i></a></li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a>
					</li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i
								class="fa fa-dribbble"></i></a></li>
				</ul>

			</div>

			<!--
              All the links in the footer should remain intact.
              You may remove the links only if you donate:
              https://www.wowthemes.net/freebies-license/
            -->
			<p>© <span class="credits font-weight-bold">
					<a target="_blank" class="text-dark" href="/"><u>Panorama VR Image Viewer</u> by clarkhg</a>
				</span>
			</p>


		</div>

	</footer>
</body>

</html>