<!DOCTYPE html>
<html>
<div class="box">
  <div class="box_txt">
    <p>最近修订日期：2022年9月13日</p>
    <h1 id="top"><strong>介绍</strong></h1>
    <p><strong>欢迎使用ImageViewer公司网页！</strong></p>
    <p class="italic"><em>遵守本条款</em></p>
    <p>
      <strong>
        当您使用ImageViewer公司网页（包括ImageViewer.com及其信息介绍的子网页，以及通过<a href="/" target="_blank"><em>“媒体及投资者联系”</em></a>
        网页提交的信息）（下称“网页”）时，本《服务条款》（下称“本条款”）对您适用。
      </strong>
    </p>
    <p><strong>
        如您使用ImageViewer或其关联方运营的产品或服务，或者您就某一具体ImageViewer产品或服务有任何疑问，请查阅适用于该产品或服务的服务条款或最终用户特许协议（下称“《最终用户特许协议》”）。
      </strong>
    </p>
    <p>
      如您是从中华人民共和国内地（就本条款而言，不包括香港特别行政区、澳门特别行政区及台湾）（<strong>“中国内地”</strong>）访问我们网页的用户，本条款对您并不适用。<strong>请您参照<a
          href="/contract" target="_blank">《服务条款（中国内地用户）》</a>的条款</strong>。
    </p>
    <p>
      请参阅本条款及我们的政策和指引，以了解您可如何使用我们的网页及在什么情况下不可使用我们的网页。您使用我们的网页时，必须遵守本条款，并只可按照适用法律使用我们的网页。
    </p>
    <p>如您不同意本条款，则必须停止使用我们的网页。 </p>
    <p class="italic"><em>签约实体</em></p>
    <p>
      我们的网页由ImageViewer Holdings Limited（一家位于Cricket Square, Hutchins Drive, P.O. Box 2681 Grand Cayman KY1-1111, Cayman
      Islands的开曼公司）（即<strong>“我们”</strong>）提供。
    </p>
    <p>
      如您使用ImageViewer或其关联方运营的产品或服务，针对该产品或服务的服务条款或《最终用户特许协议》会明确相关的签约实体。
    </p>
    <p class="italic"><em>语言</em></p>
    <p>
      我们可能将本条款翻译成多种语言。如本条款的英文版与任何其他语言的版本有任何差异之处，将以英文版为准（在存在差异的范围内及在适用法律允许的范围内）。
    </p>
    <h1><strong>额外条款和政策</strong></h1>
    <p>
      如欲了解我们如何在您使用我们网页时收集及使用关于您的个人信息之相关资料，请参阅我们的<a href="/privacy" target="_blank">隐私政策</a>。
    </p>
    <p class="italic"><em>特定产品或服务的条款和政策</em></p>
    <p>
      ImageViewer集团提供多样化的产品及服务，并且设有您使用该产品或服务时适用的特定条款和政策，有关内容载于该特定产品及服务的服务条款或《最终用户特许协议》（而非本条款）内。
    </p>
    <p>
      此外，在使用该产品及服务时，下述的特定产品或服务政策也可能对您适用：
    </p>
    <ul style="margin: 12px;">
      <li>
        • 《隐私政策》 － 此政策阐述我们如何收集、存储和使用您的个人信息；
      </li>
      <li>
        • 《Cookies政策》 － 此政策阐述我们如何在我们的服务中使用cookies和记录文件；及
      </li>
      <li>
        • 《允许使用政策》 － 此政策阐述您使用我们的服务时适用的良好行为规则。
      </li>
    </ul>
    <p></p>
    <h1><strong>修改条款与我们的服务 </strong></h1>
    <p>
      我们可能需要根据法律的变更，或者反映网页及其功能的变动来修改或更新本条款。在适用法律允许的范围内，我们可无须事前通知而更新我们的网页和本条款（除了更新在本条款顶部的最近修订日期外）。
    </p>
    <p>
      您仍继续使用我们的网页，即表示您同意被经修订的本条款所约束。
    </p>
    <p><strong>第三方内容和服务 </strong></p>
    <p>
      敬请留意，尽管我们力图在我们的网页上提供准确的内容，我们不会对我们的网页显示或连接的任何第三方内容的合法性、准确性或可靠性负责，也不会就此给予认可、支持或保证。您确认知晓并同意，对于依赖或使用任何从我们的网页获得或取得的第三方内容，该等内容可能不准确及含有误导成分，也未必代表我们所持的意见。
    </p>
    <p><strong>我们网页的商业内容</strong></p>
    <p>
      我们可能不时在我们的网页中加入或展示商业内容，例如关于各项事件或最新情况的内容。
    </p>
    <p><strong>我们的知识产权</strong></p>
    <p>
      我们拥有或有权使用用于网页方面的或在网页上出现的知识产权。我们可以酌情决定使用您自愿提交的任何意见或建议，而无须受到限制、征求同意、向您支付款项或对您负任何其他责任。
    </p>
    <p>
      即便您使用或下载我们网页上提供的任何数据或软件，任何由我们拥有及提供的知识产权（包括商标、产品名称、标识、域名或其他独特品牌特征）继续归我们和我们的许可人所有。除非经我们事先书面同意，否则，您不得使用该知识产权。
    </p>
    <p>
      您不得对我们的网页或软件进行复制、修改、反编译、倒序制造或尝试抽取源代码。
    </p>
    <p><strong>保证和免责条款</strong></p>
    <p>

      我们的网页是“按原状”和“按提供状况”而提供的。我们不能保证我们的网页将不受干扰、是安全的、不存在危险、没有错漏或没有病毒。
      <strong>
        在适用法律和法规允许的范围内，您同意放弃任何和所有的隐含声明、保证和承诺（包括对适用性、适合特定用途、所有权及不侵权等方面的隐含保证）。
      </strong>
    </p>
    <p><em>
        对我们的网页负法律责任
      </em></p>
    <p>
      我们对本条款及页面承担的责任仅限于适用法律允许的最大范围内。除法律禁止的情况外，我们在任何情况下均不须对任何间接、特殊、相应而产生、惩戒性或惩罚性的损害或任何业务、收益、盈利、商誉、内容或数据的损失（包括（但不限于）基于恶意软件或黑客攻击、任何软件或系统失灵，或任何未经授权的使用或我们无法合理控制的原因而产生的损害赔偿或损失）负责，即使我们知道该等损害或损失均有可能发生。
    </p>
    <p><em>
        赔偿保证
      </em></p>
    <p>
      在下列情況，您同意赔偿我们、我们的合作伙伴和我们的关联公司：由于 (i) 您使用我们的网页；或(ii) 您违反本条款，而产生的任何申索、起诉、诉讼、要求、损害赔偿、债务、损失、费用、开支（包括诉讼费和律师费）和法律责任。
    </p>
    <p><strong>终止条款</strong></p>
    <p>
      本条款适用于由您使用我们的网页起直至我们终止您访问我们的网页止的期间内。我们可能暂停或终止您访问我们的网页。
    </p>
    <p><strong>一般规定</strong></p>
    <p>
      本条款为您与我们就网页而订立的全部协议。您不会为本条款未明确订明的任何内容而向我们提出申索。如本条款任何部分被裁定无效，均不会影响任何其他部分的效力或强制执行能力。如法院裁定我们不能强制执行本条款的任何部分，我们可以在适用法律容许强制执行的范围内，采用类似条款取代该等条款。如我们未能强制执行本条款的任何条文，也不会被视为放弃任何权利，且本条款的任何权利和责任（就性质而言）应继续有效，包括但不限于与各方各自的责任或赔偿（如有）有关的任何义务，将在本条款终止或届满后继续有效。
    </p>
    <p>
      任何其他人在未经我们事先同意的情况下均无权向任何一方强制执行本条款，而您亦不可未经我们事先同意转授、出让或转让本条款或于本条款中的任何权利或责任。我们可以未经您事先同意或未向您发出通知而自由全部或局部出让、转让或对外分包本条款或我们于本条款中的权利和责任。您确认知晓并同意，我们的合作伙伴或关联公司在任何情况下均不必对本条款承担任何法律责任。
    </p>
    <p><strong>管辖法律和争议的解决</strong></p>
    <p>
      除了在以下情况下：(i) 任何纳入本条款的适用额外条款另行规定，或(ii)
      您的司法管辖区的适用法律另行规定（例如，您可能在您的司法管辖区有法定权利向当地法院（包括小额钱债法院或类似法院提出申索或对申索作出抗辩），本条款以及因本条款而产生或与之有关的任何争议或申索将受香港特别行政区的法律管辖。
    </p>
    <p>
      凡因本条款而产生、有关本条款或与之相关的任何争议、纠纷或申索，包括本条款的存在、效力、解释、履行、违反或终止，均将根据提交《仲裁通知》时有效的《香港国际仲裁中心机构仲裁规则》，通过香港国际仲裁中心进行仲裁解决。仲裁地点为香港。仲裁庭只由一名仲裁员组成。仲裁程序所用语言为英文。
    </p>
  </div>
</div>

</html>